<main>
  <div class="page-heading text-center">
    <div class="container">
      <h2 class="uppercase">ADMISSION APPLICATION FORM CERTIFICATES</h2>
      <p class="para">(Important Note:Please fill the Application form carefully and completely to avoid rejection)</p>
      <p class="para">(Upload all your certificates /copies appropriately in the fields provided by the institute)</p>

    </div>
  </div>
  <!-- <pre>{{removedFields |json}}</pre> -->

  <marquee behavior="" direction="">Important Note: Please use nspot payment gateway to make fee payments. if fee is paid directly or in any other ways to the institute tracking payment and any dispute NSpot is not responsible.</marquee>
  <div class="container index-3-categories">
    <div class="row contact" style="    display: contents;">

      <!-- <pre>{{eduAndEntrnceRemovedFields|json}}</pre> -->
      <!-- <pre>{{form.value|json}}</pre> -->

      <div class="col-md-1"></div>
      <div class="col-md-10 col-sm-10">
        <form class="contact" [formGroup]="form" >
          <div class="applicationForm">
            

      

           


            <div class="clearfix"></div>

            <h5 class="uppercase">certificates</h5>
            <div class="row">
              <div class="col-sm-12">
              <div formGroupName="certificates">
                

                  <div id="adharCardFile" class="applicationFormItem">
                    <!-- <div class="col-sm-8"> -->
                      <div class="labels">
                        <p>Aadhar Certificate</p>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="col-sm-4"> -->
                      <div class="checkBox">
                        <!-- <input type="text" formControlName="adharCardFile" /> -->
                        <div class="row">
                          <div class="col-lg-12"><input type="file" name="adharCardFile" formControlName="adharCardFile"
                              (change)="updatefile($event,'adharCardFile')"></div>
                          <!-- <div class="col-lg-12"><img src="" class="certImg" id="adharCardFile-img" alt="No image"></div> -->
                        </div>
                      </div>
                    <!-- </div> -->
                 
                    
                  </div>

                  <div id="birthCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Birth Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text"  /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="birthCertificateFile"
                            formControlName="birthCertificateFile" (change)="updatefile($event,'birthCertificateFile')">
                        </div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="birthCertificateFile-img" alt="No image">
                      </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="communityCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Community Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text"  /> -->
                      <div class="row">
                        <div class="col-lg-12">
                          <input type="file" name="communityCertificateFile" formControlName="communityCertificateFile"
                            (change)="updatefile($event,'communityCertificateFile')">
                        </div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="communityCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="differentlyAbledCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Differently abled</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text"  /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="differentlyAbledCertificateFile"
                            formControlName="differentlyAbledCertificateFile"
                            (change)="updatefile($event,'differentlyAbledCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="differentlyAbledCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="characterCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Character Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="characterCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="characterCertificateFile"
                            formControlName="characterCertificateFile"
                            (change)="updatefile($event,'characterCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="characterCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="conductCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Conduct Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="conductCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="conductCertificateFile"
                            formControlName="conductCertificateFile"
                            (change)="updatefile($event,'conductCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="conductCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="entranceExamFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Entrance Exam</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="entranceExamFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="entranceExamFile"
                          formControlName="entranceExamFile"
                            (change)="updatefile($event,'entranceExamFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="entranceExamFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="sslcFile" class="applicationFormItem">
                    <div class="labels">
                      <p>SSLC</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="sslcFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="sslcFile" formControlName="sslcFile"
                          (change)="updatefile($event,'sslcFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="sslcFile-img" alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="plusTwoCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>PLUS 2</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="plusTwoCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="plusTwoCertificateFile" formControlName="plusTwoCertificateFile"
                          (change)="updatefile($event,'plusTwoCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="plusTwoCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="experienceCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Experience certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="experienceCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="experienceCertificateFile" formControlName="experienceCertificateFile"
                          (change)="updatefile($event,'experienceCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="experienceCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="incomeCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Income Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="incomeCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="incomeCertificateFile" formControlName="incomeCertificateFile"
                          (change)="updatefile($event,'incomeCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="incomeCertificateFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="migrationCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Migration Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="migrationCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="migrationCertificateFile" formControlName="migrationCertificateFile"
                          (change)="updatefile($event,'migrationCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="migrationCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="nativityCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Nativity Certificate</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="nativityCertificateFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="nativityCertificateFile" formControlName="nativityCertificateFile"
                          (change)="updatefile($event,'nativityCertificateFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="nativityCertificateFile-img"
                            alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="panCardFile" class="applicationFormItem">
                    <div class="labels">
                      <p>PAN Card</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="panCardFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="panCardFile" formControlName="panCardFile"
                          (change)="updatefile($event,'panCardFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="panCardFile-img" alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="passportSizePhotoFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Passport size Photo</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="passportSizePhotoFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="passportSizePhotoFile" formControlName="passportSizePhotoFile"
                          (change)="updatefile($event,'passportSizePhotoFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="passportSizePhotoFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="scolarshipFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Scholarship</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="scolarshipFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="scolarshipFile" formControlName="scolarshipFile"
                          (change)="updatefile($event,'scolarshipFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="scolarshipFile-img" alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="signatureFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Signature</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="signatureFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="signatureFile" formControlName="signatureFile"
                          (change)="updatefile($event,'signatureFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="signatureFile-img" alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="tcFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Transfer Certificate(TC)</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="tcFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="tcFile" formControlName="tcFile"
                          (change)="updatefile($event,'tcFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="tcFile-img" alt="No image"></div> -->
                      </div>
                    </div>
                  </div>

                  <div id="thumbImpressionFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Thumb Impression</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="thumbImpressionFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="thumbImpressionFile" formControlName="thumbImpressionFile"
                          (change)="updatefile($event,'thumbImpressionFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="thumbImpressionFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="drivingLicenseFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Driving Licence</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="drivingLicenseFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="drivingLicenseFile" formControlName="drivingLicenseFile"
                          (change)="updatefile($event,'drivingLicenseFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="drivingLicenseFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="fathersSignatureFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Father's Signature</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="fathersSignatureFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="fathersSignatureFile" formControlName="fathersSignatureFile"
                          (change)="updatefile($event,'fathersSignatureFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="fathersSignatureFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="mothersSignatureFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Mother's Signature</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="mothersSignatureFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="mothersSignatureFile" formControlName="mothersSignatureFile"
                          (change)="updatefile($event,'mothersSignatureFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="mothersSignatureFile-img" alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <div id="guardiansSignatureFile" class="applicationFormItem">
                    <div class="labels">
                      <p>Guardian's Signature</p>
                    </div>
                    <div class="checkBox">
                      <!-- <input type="text" formControlName="guardiansSignatureFile" /> -->
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="guardiansSignatureFile" formControlName="guardiansSignatureFile"
                          (change)="updatefile($event,'guardiansSignatureFile')"></div>
                        <!-- <div class="col-lg-12"><img src="" class="certImg" id="guardiansSignatureFile-img"
                            alt="No image">
                        </div> -->
                      </div>
                    </div>
                  </div>



                  <div id="adharCardFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        aadhar Card Atteseted</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="adharCardFileattested" formControlName="adharCardFileattested"
                          (change)="updatefile($event,'adharCardFileattested')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="addressProof" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Address Proof</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="addressProof" formControlName="addressProof"
                          (change)="updatefile($event,'addressProof')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="admissionApplciationLetterFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Admission Application Letter</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="admissionApplciationLetterFile" formControlName="admissionApplciationLetterFile"
                          (change)="updatefile($event,'admissionApplciationLetterFile')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="sslcFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        SSLC File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="sslcFileattested" formControlName="sslcFileattested"
                          (change)="updatefile($event,'sslcFileattested')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="sslcmarksheetfile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        SSLC Mark Sheet File</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="sslcmarksheetfile" formControlName="sslcmarksheetfile"
                          (change)="updatefile($event,'sslcmarksheetfile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="plusTwoCertificateFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Plus Two Mark Sheet File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="plusTwoCertificateFileattested" formControlName="plusTwoCertificateFileattested"
                          (change)="updatefile($event,'plusTwoCertificateFileattested')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="plusTwoCertificateFileprofessional" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Plus Two Certificate Professional</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="plusTwoCertificateFileprofessional" formControlName="plusTwoCertificateFileprofessional"
                          (change)="updatefile($event,'plusTwoCertificateFileprofessional')"></div>
                      </div>
                    </div>
                  </div>
                  
                  <div id="plusTwoCertificateFileprofessionalattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Plus Two Certificate Professional Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="plusTwoCertificateFileprofessionalattested" formControlName="plusTwoCertificateFileprofessionalattested"
                          (change)="updatefile($event,'plusTwoCertificateFileprofessionalattested')"></div>
                      </div>
                    </div>
                  </div>
                  
                  <div id="degreeCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Degree Certificate File</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="degreeCertificateFile" formControlName="degreeCertificateFile"
                          (change)="updatefile($event,'degreeCertificateFile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="degreeCertificateFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Degree Certificate File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="degreeCertificateFileattested" formControlName="degreeCertificateFileattested"
                          (change)="updatefile($event,'degreeCertificateFileattested')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="professionaldegreeCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Professional Degree Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="professionaldegreeCertificateFile" formControlName="professionaldegreeCertificateFile"
                          (change)="updatefile($event,'professionaldegreeCertificateFile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="professionaldegreeCertificateFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Professional Degree Certificate File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="professionaldegreeCertificateFileattested" formControlName="professionaldegreeCertificateFileattested"
                          (change)="updatefile($event,'professionaldegreeCertificateFileattested')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="diplomaCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Diploma Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="diplomaCertificateFile" formControlName="diplomaCertificateFile"
                          (change)="updatefile($event,'diplomaCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
  
                  <div id="diplomaCertificateFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Diploma Certificate File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="diplomaCertificateFileattested" formControlName="diplomaCertificateFileattested"
                          (change)="updatefile($event,'diplomaCertificateFileattested')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="pgMasterCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       PG/Masters Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="pgMasterCertificateFile" formControlName="pgMasterCertificateFile"
                          (change)="updatefile($event,'pgMasterCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
  
                  <div id="pgMasterCertificateFileattested" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        PG/Masters Certificate File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="pgMasterCertificateFileattested" formControlName="pgMasterCertificateFileattested"
                          (change)="updatefile($event,'pgMasterCertificateFileattested')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="phdCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       PHD Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="phdCertificateFile" formControlName="phdCertificateFile"
                          (change)="updatefile($event,'phdCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
  
                  <div id="phdCertificateFileatteseted" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        PHD Certificate File Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="phdCertificateFileatteseted" formControlName="phdCertificateFileatteseted"
                          (change)="updatefile($event,'phdCertificateFileatteseted')"></div>
                      </div>
                    </div>
                  </div>
             
                  <div id="courseCompletionCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Course Completion Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="courseCompletionCertificateFile" formControlName="courseCompletionCertificateFile"
                          (change)="updatefile($event,'courseCompletionCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
  
                  <div id="consolidateMarkListFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Consolidated Mark List File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="consolidateMarkListFile" formControlName="consolidateMarkListFile"
                          (change)="updatefile($event,'consolidateMarkListFile')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="originalGradecardFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Original Grade Card File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="originalGradecardFile" formControlName="originalGradecardFile"
                          (change)="updatefile($event,'originalGradecardFile')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="apptitudeTestFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Aptitude Test File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="apptitudeTestFile" formControlName="apptitudeTestFile"
                          (change)="updatefile($event,'apptitudeTestFile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="typingSkillTestFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Typing Skill Test File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="typingSkillTestFile" formControlName="typingSkillTestFile"
                          (change)="updatefile($event,'typingSkillTestFile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="allotmentLetterFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Allotment Letter File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="allotmentLetterFile" formControlName="allotmentLetterFile"
                          (change)="updatefile($event,'allotmentLetterFile')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="proofOfEnglishProficiencyFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Proof of english proficiency File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="proofOfEnglishProficiencyFile" formControlName="proofOfEnglishProficiencyFile"
                          (change)="updatefile($event,'proofOfEnglishProficiencyFile')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="aadharcardParent" class="applicationFormItem">
                    <div class="labels">
                      <p>
                        Aadhar card parents </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="aadharcardParent" formControlName="aadharcardParent"
                          (change)="updatefile($event,'aadharcardParent')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="aadharcardParentatteseted" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Aadhar card parents Attested</p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="aadharcardParentatteseted" formControlName="aadharcardParentatteseted"
                          (change)="updatefile($event,'aadharcardParentatteseted')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="passportorvisa" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Passport or Visa </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="passportorvisa" formControlName="passportorvisa"
                          (change)="updatefile($event,'passportorvisa')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="hallticketFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Hallticket File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="hallticketFile" formControlName="hallticketFile"
                          (change)="updatefile($event,'hallticketFile')"></div>
                      </div>
                    </div>
                  </div>
                
                  <div id="previousschoolCollageAttendedCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Previous College/School Attended Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="previousschoolCollageAttendedCertificateFile" formControlName="previousschoolCollageAttendedCertificateFile"
                          (change)="updatefile($event,'previousschoolCollageAttendedCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="sportsCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Sport Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="sportsCertificateFile" formControlName="sportsCertificateFile"
                          (change)="updatefile($event,'sportsCertificateFile')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="nocCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       NOC Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="nocCertificateFile" formControlName="nocCertificateFile"
                          (change)="updatefile($event,'nocCertificateFile')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="scCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       SC/ST Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="scCertificate" formControlName="scCertificate"
                          (change)="updatefile($event,'scCertificate')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="ewsCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       EWS Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="ewsCertificate" formControlName="ewsCertificate"
                          (change)="updatefile($event,'ewsCertificate')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="educationConsessionCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Education Consession Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="educationConsessionCertificate" formControlName="educationConsessionCertificate"
                          (change)="updatefile($event,'educationConsessionCertificate')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="relivingCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Reliving Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="relivingCertificate" formControlName="relivingCertificate"
                          (change)="updatefile($event,'relivingCertificate')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="offerletterCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Offer Letter Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="offerletterCertificate" formControlName="offerletterCertificate"
                          (change)="updatefile($event,'offerletterCertificate')"></div>
                      </div>
                    </div>
                  </div>

                  <div id="medicalCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Medical Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="medicalCertificate" formControlName="medicalCertificate"
                          (change)="updatefile($event,'medicalCertificate')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="affidavitFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       Affidavit File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="affidavitFile" formControlName="affidavitFile"
                          (change)="updatefile($event,'affidavitFile')"></div>
                      </div>
                    </div>
                  </div>
                  <div id="gapCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                       GAP Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="gapCertificate" formControlName="gapCertificate"
                          (change)="updatefile($event,'gapCertificate')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="selfDeclarationCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                      Self Declaration Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="selfDeclarationCertificate" formControlName="selfDeclarationCertificate"
                          (change)="updatefile($event,'selfDeclarationCertificate')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="recommendationCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                      Recommendation Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="recommendationCertificate" formControlName="recommendationCertificate"
                          (change)="updatefile($event,'recommendationCertificate')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="dischargeCertificate" class="applicationFormItem">
                    <div class="labels">
                      <p>
                      Discharge Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="dischargeCertificate" formControlName="dischargeCertificate"
                          (change)="updatefile($event,'dischargeCertificate')"></div>
                      </div>
                    </div>
                  </div>


                  <div id="additionalCertificateFile" class="applicationFormItem">
                    <div class="labels">
                      <p>
                      Additional Certificate File </p>
                    </div>
                    <div class="checkBox">
                      <div class="row">
                        <div class="col-lg-12"><input type="file" name="additionalCertificateFile" formControlName="additionalCertificateFile"
                          (change)="updatefile($event,'additionalCertificateFile')"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-lg-12">
                  <div formGroupName="additionalFields">
                    <div *ngFor="let item of additionalField.certificates; let i=index" class="applicationFormItem">
                      <div class="labels">
                        <p>{{item.fieldText}}</p>
                      </div>
                      <div class="checkBox">
                        <div class="clearfix"></div>
                        <div class="row">
                          <div class="col-lg-12"> <input type="file" formControlName="{{item.fieldName}}" /></div>
                     
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
              <div class="clearfix"></div>

            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <button id="submit-btn" type="submit" class="btn btn-success pull-right" (click)="getfilesUpdate()">Submit application</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</main>