<div class="top-bar">
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p style="color: white;"><i class="zmdi zmdi-email"></i> student.helpdesk@nspotadmissions.com</p>

        </div>
        <div class="col-sm-2">
          <p style="color: white;"><i class="zmdi zmdi-phone"></i> +91 880-880-2175</p>
        </div>
        <div class="col-sm-4" style="text-align: end;">
          <p style="color: white;"><i class="zmdi zmdi-time"></i> Timing: 8 AM - 6 PM</p>
        </div>
      </div>
  </div>
</div>
<header>
    <div class="container">
        <div id="topbar">
            <div class="pull-right">
                <div class="navigation">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <i class="zmdi zmdi-menu zmdi-hc-lg"></i>
          </button>
                    <nav class="collapse navbar-collapse" id="myNavbar">
                        <ul>
                            <li class="active uppercase">
                                <a routerLink="/student/profile">My Account</a>
                            </li>

                            <li class="uppercase">
                                <a routerLink="/student/explore-courses">Browse courses</a>
                            </li>

                            <li class="uppercase">
                                <a routerLink="/student/faq">FAQ</a>
                            </li>

                            <!-- <li class="uppercase">
                <a routerLink="/student/faq">FAQ</a>
              </li> -->


                            <!-- <li class="uppercase">
                <a>Courses</a>
                <ul class="submenu submenu-list">
                  <li>
                    <a routerLink="/institute/post/course">POST A COURSE/PROGRAMMES</a>
                  </li>
                  <li>
                    <a routerLink="/institute/courses-listed">MANAGE COURSE/PROGRAMMES</a>
                  </li>
                </ul>
              </li> -->


                            <!-- <li class="uppercase">
                <a routerLink="/institute/pricing">Upgrade</a>
              </li> -->

                            <li class="uppercase">
                                <a routerLink="/institute/contact-us"><img src="assets/images/avatar.png" alt="" /></a>
                                <ul class="submenu submenu-list">
                                    <!-- <li class="uppercase">
                    <a routerLink="/student/pricing">Upgrade</a>
                  </li>
                  <li class="uppercase">
                    <a routerLink="/student/compare-courses">Bank info</a>
                  </li> -->
                                    <li class="uppercase">
                                        <a routerLink="/student/compare-courses">Compare Courses</a>
                                    </li>
                                    <li class="uppercase">
                                        <a routerLink="/student/payment-history">Payment History</a>
                                    </li>
                                    <li class="uppercase">
                                        <a routerLink="/student/contact-us">Contact</a>
                                    </li>
                                    <li class="uppercase">
                                      <a routerLink="/student/reset-password">Change Password</a>
                                  </li>
                                    
                                    <li><a (click)="logout()">LOGOUT</a></li>

                                </ul>
                            </li>
                            <!-- <li class="notification-icon"><i class="zmdi zmdi-notifications-none"></i>
                <ul class="submenu-notif submenu-list">
                  <li *ngFor="let item of notifications" class="{{item.status}}"
                    (click)="changeStatus(item.id,item.status)">
                    <a routerLink="{{item.url}}">
                      <h5>{{item.title}}</h5>
                      <p>{{item.body}}</p>
                    </a>
                  </li>
                  <li *ngIf="!notifications||notifications.length<=0">
                    <h5>No notifications</h5>
                  </li>
                </ul>
              </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
            <h1 class="logo">
                <a routerLink="/institute/dashboard"><img src="assets/images/Nspot-01.png" alt="Logo" /></a>
            </h1>
        </div>
    </div>
</header>