<main id="course-single">

    <div class="page-heading text-center">
        <div class="container">
            <h2 class="uppercase">Institute Details</h2>
        </div>
    </div>

    <div class="columns the-header is-marginless">
        <div class="column header-text is-6 is-offset-3 is-12-mobile">

            <img class="header-background" src="https://unsplash.it/1000/1000/?random&pic=1" id="header-background-id" alt="background-img">
        </div>
    </div>


    <div class="column is-12 has-text-centered">
        <img class="profile-picture" style="display: flex;margin-left: auto;margin-right: auto; " src="https://unsplash.it/300/300/?random&pic=1(14 kB)" alt="profile-picture">
    </div>


    <div class="containers">
        <div class="row">
            <div class="col-md-12">

                <h3 style="text-align: center;">{{instituteInfo?.name}}</h3>
                <p class="class-details uppercase" style="display: flex;    align-items: center;
                justify-content: center;">
                    <!-- <span class="lessons"><i class="zmdi zmdi-assignment"></i>{{instituteInfo?.name}}</span> -->
                    <span class="duration"><i class="zmdi zmdi-time"></i>{{instituteInfo?.code}}</span>
                    <span class="views"><i class="zmdi zmdi-eye"></i>HOSTEL:
                        {{instituteInfo?.haveBoysHostel||instituteInfo?.haveGirlsHostel?"YES":"NO"}}</span>
                    <span class="views"><i class="zmdi zmdi-assignment"></i><a>RELIGIOUS MINORITY INSTITUTE : YES</a></span>
                    <span class="views"><i class="zmdi zmdi-assignment"></i><a>Website Link : http://........</a></span>
                            <span class="views"><i class="zmdi zmdi-download"></i><a
                                href="{{baseApiUrl}}{{highlights?.brochuresFile}}">Download Brochure</a></span>
                    <span>  Location On Map : <a href="https://maps.google.com/?q={{travelinformations.currentLatitude}},{{travelinformations.currentLongitude}}" target="_blank"> {{travelinformations.currentLatitude}} , {{travelinformations.currentLongitude}}</a></span>
                    <button (click)="copyMessage(currentUrl)" style="    background: none;
                    border: none;
                    color: orange;text-transform: uppercase;
                    font-weight: bold;"><i class="zmdi zmdi-share"></i>Share Course</button>
                    <button style="    background: none;
                    border: none;
                    color: rgb(104, 104, 104);text-transform: uppercase;
                    font-weight: bold;" *ngIf="viewShare" (click)="close()">X</button>

                </p>
                <!-- <share-buttons [theme]="'default'" [include]="['facebook','messenger','whatsapp']" [show]="4" [size]="-1" [url]=currentUrl [autoSetMeta]="false" [image]="'https://hit-game.com/assets/images/banner1.png'"></share-buttons> -->
                <share-buttons *ngIf="viewShare" style="display: flex;
                justify-content: center;
                margin-bottom: 25px;" [theme]="'material-dark'" [include]="['facebook','messenger','whatsapp','copy']" [show]="4" [size]="-1" [url]=currentUrl [autoSetMeta]="false" [image]="'https://hit-game.com/assets/images/banner1.png'"></share-buttons>
                <!-- <app-modal #modal></app-modal> -->
                <div class="row" style="display: flex;
                justify-content: center;margin-bottom: 22px;">
                    <div class="col-sm-2" [class.phase-active]="activeButton === 1" (click)="selecttab(1)">
                        <p>ABOUT US</p>
                    </div>
                    <div class="col-sm-2" [class.phase-active]="activeButton === 2" (click)="selecttab(2)">
                        <p>REGISTRATION DETAILS</p>
                    </div>
                    <div class="col-sm-2" [class.phase-active]="activeButton === 3" (click)="selecttab(3)">
                        <p>COURSES OFFERED</p>
                    </div>
                    <div class="col-sm-2" [class.phase-active]="activeButton === 4" (click)="selecttab(4)">
                        <p>GALLERY</p>
                    </div>
                    <div class="col-sm-2" [class.phase-active]="activeButton === 5" (click)="selecttab(5)">
                        <p>VIRTUAL VIDEO TOUR</p>
                    </div>
                    <div class="col-sm-2" [class.phase-active]="activeButton === 6" (click)="selecttab(6)">
                        <p>Documents</p>
                    </div>
                </div>

                <div class="row" *ngIf="activeButton ===1">
                    <div class="col-md-12 order  pros">
                        <div class="col-md-6">
                            <h4>CONTACT ADDRESS</h4>
                            <div class="text-center">
                                <p>{{instituteInfo?.addressLine1}},{{instituteInfo?.addressLine2}},{{instituteInfo?.addressLine3}}

                                </p>
                                <p class="order-or"><span><i class="zmdi zmdi-phone"></i></span></p>

                                <p>{{instituteInfo?.telephone1}}</p>
                                <p>{{instituteInfo?.telephone2}}</p>
                                <p class="order-or"><span><i class="zmdi zmdi-smartphone-android"></i></span></p>
                                <p></p>
                                <p>{{instituteInfo?.officialMobile}}</p>


                                <p class="order-or"><span><i class="zmdi zmdi-email"></i></span></p>
                                <p></p>
                                <p>{{instituteInfo?.email}}</p>
                                <p></p>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <h4>CORPORATE OFFICE</h4>
                            <div class="text-center">
                                <p>Nila Gardens, Pampady, Thiruvilwamala, Thrissur, Kerala, India – 680 588</p>
                                <p class="order-or"><span><i class="zmdi zmdi-phone"></i></span></p>

                                <p>04884-284000 (100 lines)</p>
                                <p>04884-282070</p>
                                <p class="order-or"><span><i class="zmdi zmdi-smartphone-android"></i></span></p>
                                <p>+91 9656000005</p>
                                <p>+91 7902660777</p>


                                <p class="order-or"><span><i class="zmdi zmdi-email"></i></span></p>
                                <p>Office@ncerc.ac.in</p>
                                <p>admissions@ncerc.ac.in</p>
                            </div>


                        </div>
                        <div class="col-md-6" style="margin-top: 20px !important;">
                            <h4>INFRASTRUCTURE-FACILITIES & EVENTS</h4>
                            <p style="text-align: left;margin-top: 25px;">Area of Campus : {{instituteInfo?.licenseAuthorityName}} </p>
                            <p style="text-align: left;margin-top: 25px;">No. of Classrooms : {{instituteInfo?.nameofTown}} </p>
                            <p style="text-align: left;margin-top: 25px;"> Total Student Strength as on date :{{instituteInfo?.licenseNumber}} </p>
                            <p style="text-align: left;margin-top: 25px;">Student Teacher Ratio : {{instituteInfo?.licenseIssuedDate | date}}</p>
                            <p style="text-align: left;margin-top: 25px;">Total no.of Teachers : {{instituteInfo?.licenseRenewalDate | date}}</p>
                            <p style="text-align: left;margin-top: 25px;">Language of Instruction : {{instituteInfo?.licenseRenewalDate | date}}</p>
                            <p style="text-align: left;margin-top: 25px;">Sports : {{instituteInfo?.licenseRenewalDate | date}}</p>
                            <p style="text-align: left;margin-top: 25px;">Indoor Games : {{instituteInfo?.licenseRenewalDate | date}}</p>
                            <p style="text-align: left;margin-top: 25px;">Outdoor Games : {{instituteInfo?.licenseRenewalDate | date}}</p>

                        </div>
                        <div class="col-md-6" style="margin-top: 20px !important;">
                            <h4>HOSTEL & TRANSPORTATION</h4>
                            <p style="text-align: left;margin-top: 25px;">Hostel for Boys : {{instituteInfo?.haveBoysHostel?'Yes':'No'}}</p>
                            <p style="text-align: left;margin-top: 25px;">
                                Hostel for Girls : {{instituteInfo.haveGirlsHostel?'Yes':'No'}}
                            </p>

                            <p style="text-align: left;margin-top: 25px;">
                                Is food available : {{instituteInfo.foodAvailableAtHostel?'Yes':'No'}}
                            </p>

                            <p style="text-align: left;margin-top: 25px;">
                                Hostal Annual Fee : {{instituteInfo.hostalAnnualFee}}
                            </p>

                            <p style="text-align: left;margin-top: 25px;">
                                Transportation info : {{instituteInfo.transportationInfo}}
                            </p>

                        </div>
                        <div class="col-md-12" style="margin-top: 20px !important;">
                            <h4>TRAVEL INFORMATION</h4>
                            <p style="text-align: left;margin-top: 25px;">
                                Nearest Railway Station : {{travelinformations.nearestAirPort}}</p>
                            <p style="text-align: left;margin-top: 25px;">
                                Nearest Airport : {{travelinformations.nearestRailWayStation}}
                            </p>

                            <p style="text-align: left;margin-top: 25px;">
                                Nearest Bus Station : {{travelinformations.nearestBusStation}}
                            </p>

                            <p style="text-align: left;margin-top: 25px;">
                                Location On Map : <a href="https://maps.google.com/?q={{travelinformations.currentLatitude}},{{travelinformations.currentLongitude}}" target="_blank"> {{travelinformations.currentLatitude}} , {{travelinformations.currentLongitude}}</a>
                            </p>


                         </div>
                    </div>


                </div>
                <div class="row" style="margin-top: 20px;" *ngIf="activeButton ===2">
                    <div class="ratings col-md-12">
                        <div class="col-sm-4">
                            <h4>REGISTRATION DETAILS</h4>
                            <p>License Authority : {{instituteInfo?.licenseAuthorityName}} </p>
                            <p>Name of Panchatyath/Munciplaity : {{instituteInfo?.nameofTown}} </p>
                            <p> Licnese No :{{instituteInfo?.licenseNumber}} </p>
                            <p>Licnese Issued Date : {{instituteInfo?.licenseIssuedDate | date}}</p>
                            <p>Licnese Expiary Date : {{instituteInfo?.licenseRenewalDate | date}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4> LOCATION DETAILS</h4>
                            <p>Counrty: {{instituteInfo?.country}}</p>
                            <p>State : {{instituteInfo?.state}}</p>
                            <p>District:{{instituteInfo?.district}}</p>
                            <p>Block : {{instituteInfo?.nameofTown}}</p>

                        </div>
                        <div class="col-sm-4">
                            <h6 style="    margin-top: 57px;"></h6>
                            <p></p>
                            <p>Village/Munciplaity </p>
                            <p>Town : {{instituteInfo?.town}}</p>
                            <p>Pin : {{instituteInfo?.pin}}</p>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 20px;" *ngIf="activeButton ===2">
                    <div class="ratings col-md-12">
                        <h4>BOARD OF COUNCIL AWARDED</h4>
                        <div class="col-sm-4">

                            <p>Unit Of : {{boardOfCouncilInfo?.unitOfLabel}}</p>
                            <p>Recognized : {{boardOfCouncilInfo?.recongnizedByLabel}}</p>
                            <p>Affliated To: {{boardOfCouncilInfo?.affiliatedToLabel}}</p>
                            <p>Recognized By : {{boardOfCouncilInfo?.recongnizedByLabel}}</p>
                        </div>
                        <div class="col-sm-4">


                            <p>Registered To: {{boardOfCouncilInfo?.registeredToLabel}}</p>
                            <p>Approved By: {{boardOfCouncilInfo?.approvedByLabel}}</p>
                            <p>Accredation By: {{boardOfCouncilInfo?.accreditedByLabel}}</p>
                            <p>Certified By: {{boardOfCouncilInfo?.certifiedByLabel}}</p>

                        </div>
                        <div class="col-sm-4">


                            <p>Member Of :{{boardOfCouncilInfo?.memberOfLabel}}</p>

                        </div>

                    </div>
                </div>


                <div class="container" *ngIf="activeButton ===3">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <h3 style="margin-bottom: 50px;">Courses Offered</h3> -->


                            <div *ngFor="let item of coursesOffered" class="col-md-4 probootstrap-animate fadeInUp probootstrap-animated">

                                <!-- <div class="probootstrap-featured-news-box">
                                    <div class="probootstrap-text">
                                        <h3 *ngIf="item.CourseName !=null">{{item.CourseName}}</h3>
                                       
                                        <p>Course Code :{{item.item.courseCode}}</p>
                                        <a class="probootstrap-location courseBtn" (click)="applycourse(item)">APPLY</a>
                                    </div>
                                </div> -->

                                <div class="box">

                                    <div class="ribbon ribbon-top-left">
                                        <span>{{getaddmisonsnstartcount(item.item)}}</span>
                                    </div>


                                    <div style="text-align: center;    margin-left: 70px;

                                    padding-top: 1px;">
                                        <h3 *ngIf="item.CourseName !=null">{{item.CourseName}}</h3>
                                        <p>Course Code :{{item.item.courseCode}}</p>
                                        <a class="probootstrap-location courseBtn" (click)="applycourse(item)" *ngIf="getaddmisonsnstartcount(item.item) === 'Opened'">APPLY</a>

                                        <a class="probootstrap-location courseBtn" style="    background: darkgrey;
                                        color: white;
                                        border: none;
                                        text-decoration: none;" *ngIf="getaddmisonsnstartcount(item.item) === 'Not Started' || getaddmisonsnstartcount(item.item) === 'Closed'">APPLY</a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container" *ngIf="activeButton ===4">
                    <div class="row">
                        <div class="col-md-12 gallery">
                            <h3 style="margin-bottom: 50px;">Gallery</h3>
                            <div class="col-sm-4" *ngFor="let item of gallery">
                                <img *ngIf="item.galleryFile" src="{{baseApiUrl}}{{item.galleryFile}}" style="max-width: 375px;" data-darkbox="{{baseApiUrl}}{{item.galleryFile}}" data-darkbox-group="one" data-darkbox-description="<b>{{item.galleryLabel}}</b><br>Lorem ipsum dolor sit amet">

                            </div>

                        </div>
                    </div>
                </div>



                <div class="row" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="activeButton ===5">

                    <div class="ratings col-md-12">
                        <h4>VIRTUAL VIDEO TOUR</h4>
                        <div class="col-sm-12" id="style-1" style="    display: flex;
                        justify-content: space-between;
                        overflow: auto;">

                            <!-- <button class="search-teachers btnBottom">Campus Overview</button>
                            <button class="search-teachers btnBottom">Class Room Tour</button>
                            <button class="search-teachers btnBottom">Lab Tour</button>
                            <button class="search-teachers btnBottom">Librabry</button>
                            <button class="search-teachers btnBottom">Recreational Area</button>
                            <button class="search-teachers btnBottom">Hostel Tour</button> -->
                            <iframe [src]="campusTourVideoLink" width="30%" height="199px" frameborder="0"></iframe>
                            <iframe [src]="classRoomVideoLink" width="30%" height="199px" frameborder="0"></iframe>
                            <iframe [src]="hostelTourVideoLink" width="30%" height="199px" frameborder="0"></iframe>
                            <iframe [src]="labTourVideoLink" width="30%" height="199px" frameborder="0"></iframe>
                            <iframe [src]="recreationAreaTourVideoLink" width="30%" height="199px" frameborder="0"></iframe>
                            <iframe [src]="libraryTourVideoLink" width="30%" height="199px" frameborder="0"></iframe>

                            <!-- <iframe width="1280" height="545" src="https://www.youtube.com/embed/{{campusTourVideoLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        </div>
                        <div class="col-sm-6" style="margin-top: 20px;">
                            <h4>SOCIAL MEDIA </h4>
                            <ul class="social" style="margin-top: 26px;">
                                <li *ngIf="socialLinks?.facebook"><a target="_blank" href="{{socialLinks.facebook}}"><i
                                            class="zmdi zmdi-facebook"></i></a></li>
                                <li *ngIf="socialLinks?.twitter">
                                    <a target="_blank" href="{{socialLinks.twitter}}"><i
                                            class="zmdi zmdi-twitter"></i></a>
                                </li>
                                <li *ngIf="socialLinks?.linkedIn">
                                    <a target="_blank" href="{{socialLinks.linkedIn}}"><i
                                            class="zmdi zmdi-linkedin"></i></a>
                                </li>
                                <li *ngIf="socialLinks?.youtube">
                                    <a target="_blank" href="{{socialLinks.youtube}}"><i
                                            class="zmdi zmdi-youtube"></i></a>
                                </li>
                                <li *ngIf="socialLinks?.instagram">
                                    <a target="_blank" href="{{socialLinks.instagram}}"><i
                                            class="zmdi zmdi-instagram"></i></a>
                                </li>
                                <li *ngIf="socialLinks?.website">
                                    <a target="_blank" href="{{socialLinks.website}}"><i
                                            class="zmdi zmdi-globe"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="activeButton ===6">
                    <div class="ratings col-md-12">
                        <h4>Documents</h4>
                        <div class="col-sm-12" id="style-1" style="    display: flex;
                        justify-content: space-between;
                        overflow: auto;">
                        </div>

                        <div class="card" style="box-shadow: 0 0 3px 0px rgb(0 0 0 / 13%);    display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;">
                            <p class="para">Rules,Policies and Code of Conduct for Students</p>
                            <i class="zmdi zmdi-download" style="font-size: 20px;" matTooltip="Download" (click)="downloadrules('rule')"></i>
                        </div>
                        <div class="card" style="box-shadow: 0 0 3px 0px rgb(0 0 0 / 13%);    display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;">
                            <p class="para">UNIFORM/DRESS CODE</p>
                            <i class="zmdi zmdi-download" style="font-size: 20px;" matTooltip="Download" (click)="downloadrules('uniform')"></i>
                        </div>
                        <div class="card" style="box-shadow: 0 0 3px 0px rgb(0 0 0 / 13%);    display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;">
                            <p class="para">RECRUITMENT AND PLACEMENT INFO</p>
                            <i class="zmdi zmdi-download" style="font-size: 20px;" matTooltip="Download" (click)="downloadrules('placement')"></i>
                        </div>
                        <div class="card" style="box-shadow: 0 0 3px 0px rgb(0 0 0 / 13%);    display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;">
                            <p class="para">SCHOLARSHIP AND FINANCIAL AID INFO</p>
                            <i class="zmdi zmdi-download" style="font-size: 20px;" matTooltip="Download" (click)="downloadrules('scholarship')"></i>
                        </div>
                        <div class="card" style="box-shadow: 0 0 3px 0px rgb(0 0 0 / 13%);    display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;">
                            <p class="para">ADMISSION CANCELLATION POLICY & FEE REFUND POLICY</p>
                            <i class="zmdi zmdi-download" style="font-size: 20px;" matTooltip="Download" (click)="downloadrules('refund')"></i>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>


</main>