<main id="register">
  <div class="page-heading text-center">
    <div class="container">
      <h2>Reset Password</h2>
    </div>
  </div>
  <div class="container success">
    <!-- <div class="row">
      <div class="col-md-12">
        <h4 class="sub-title">EDUCATIONAL INSTITUTION - LOGIN</h4>
      </div>
    </div> -->

    <div class="row" style="    display: flex;
    justify-content: center;
    padding: 80px;
">
      <div class="col-sm-7">


        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter new Password">
            <div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
              <div *ngIf="registerForm.get('password').errors.required">Password is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm your Password">
            <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
              <div *ngIf="registerForm.get('confirmPassword').errors.required">Confirm Password is required</div>

              <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Passsword and
                Confirm Password didn't match. </div>
            </div>
          </div>
          <button style="    margin: 0 auto;
          display: block;
          width: 74%;
      " type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>