<div #myModal class="container">
  <div class="content">
    <share-buttons [theme]="'material-dark'"
            [include]="['facebook','messenger','whatsapp','copy']"
            [show]="4"
            [size]="-1"
            [url]=currentUrl
            [autoSetMeta]="false"
            [image]="'https://hit-game.com/assets/images/banner1.png'"
        ></share-buttons>
    <button (click)="close()" style="    height: 35px;
    
    width: 49px;
    border: none;">X</button>
  </div>
  </div>

  <div>

  </div>
   