.search-btn-system-view{
  position: absolute;
  background: orange;
  padding: 8px;
  margin-left: 10px;
  border: none;
}


@media screen and (max-width: 992px) {
  .search-btn-system-view{
    display: none;
  }
.page-heading h2{
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #202020;
    line-height: 56px;
    margin-top: 1px;
    letter-spacing: 4px;
  }

}

.pagination a.active {
  background-color: #f8ad25 !important;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
@media screen and (min-width: 1000px){
  .search-teachers{
    display: none;
  }
}
.selected{
  background-color: #f8ad25;
  outline: none;
}
.btn-dark .selected::before{
  width: 100%;
  background: white !important;
  color: black;
  /* box-shadow: 0 0 12px 2px rgb(0 0 0 / 13%); */
  border: none;
  outline: none;
}
.btn-dark:hover{
  color: white;
}
.btn-dark{
  outline: none;
  border: none;
  border-radius: 57px;
}
.greybutton {

  line-height: 38px !important;

  border-radius: 10px !important;

}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
a{
  cursor: pointer;
}
