<div class="page-heading text-center">
    <div class="container">
        <div class="pull-right">
        </div>
        <h2 class="uppercase">Browse Colleges and courses</h2>
    </div>
</div>
<div class="row">
    <!-- <div class="container">
        <div class="col-sm-6"> -->
    <div class="card" style="    padding: 7px;
            width: 30%;border-radius: 57px;
            margin: 0 auto;
            margin-top: 19px;">

        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-dark" [ngClass]="{'selected':active_index === 1}" (click)='Onselected(1)'
                    style="width: 100%;">Search By Location</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-dark" [ngClass]="{'selected':active_index === 2}" (click)='Onselected(2)'
                    style="width: 100%;">Others</button>

            </div>

        </div>
    </div>
    <!-- </div>
        
    </div> -->
</div>
<div class="container popular" *ngIf="active_index === 2">
    <form [formGroup]="form" (submit)="onSubmit()" class="contact">
        <div class="row toolbar">

            <!-- Accademic level -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <select formControlName="CourseCategoryId" (change)="loadAccademicLevelCourses($event)">
                    <option value="">Choose Academic Level</option>
                    <option *ngFor="let item of accademicLevels" value="{{item.id}}">{{item.title}}</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseCategoryId"></app-control-messages>
            </div>

            <!-- Courses -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <select formControlName="CourseSubCategoryId" (change)="loadAccademicLevelCoursessubcat($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of accademicLevelsCourses" value="{{item.id}}">{{item.title}}</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategoryId"></app-control-messages>
            </div>

            <!-- Course streams -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <select formControlName="CourseSubCategory2Id" (change)="loadAccademicLevelCoursessubcat1($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreams" value="{{item.id}}">{{item.title}}</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory2Id"></app-control-messages>
            </div>

            <!-- Course stream specializations -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <select formControlName="CourseSubCategory3Id" (change)="loadAccademicLevelCoursessubcat2($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory3Id">
                </app-control-messages>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <select formControlName="CourseSubCategory4Id" (change)="loadAccademicLevelCoursessubcat3($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations3" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory4Id">
                </app-control-messages>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12" style="">
                <select formControlName="CourseSubCategory5Id">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations4" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory5Id">
                </app-control-messages>
                <button type="submit" class="search-btn-system-view" style="    position: absolute;">
                    <img src="./assets/images/search.png" alt="">
                </button>
            </div>


            <div class="col-sm-6 col-xs-12 search-button" style="    margin: 0 auto;
            margin-top: 26px;">
                <button type="submit" class="search-teachers">SEARCH</button>
            </div>
        </div>

    </form>

    
    <!-- <div class="row"  *ngIf="courses.length != 0">
        <div class="col-sm-12" style="    display: flex;
        justify-content: center;
        align-items: center;
    ">
            <div class="pagination">
                <a (click)="prev()">&laquo;</a>
             
                <a class="active">{{paginationCount}}</a>

                <a (click)="next()">&raquo;</a>
            </div>
        </div>


    </div> -->

    <div class="row text-center mt-5">
        <div class="col-xs-12">
            <!-- <div class="paginations">
                <a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
            </div> -->
        </div>
    </div>
</div>
<div class="container popular" *ngIf="active_index === 1">
    <form class="contact">
        <div class="row toolbar">

            <!-- Accademic level -->
            <div class="col-md-5">
                <select  (change)="loaddistricts($event)">
                    <option value="">Choose State</option>
                    <option *ngFor="let item of stateList" value="{{item.id}}">{{item.state}}</option>
                </select>

            </div>
            <div class="col-md-5">
                <select [(ngModel)]="district" [ngModelOptions]="{standalone: true}">
                    <option value="" selected disabled >Choose District</option>
                    <option *ngFor="let item of districtList" value="{{item.id}}">{{item.district}}</option>
                </select>

            </div>
            <div class="col-sm-2 search-button">
                <button type="submit" class="search-btn-system-view" style="     width: 116%;
            border-radius: 10px; color: white;  position: absolute;" (click)="searchByLocation()">
                    <img src="./assets/images/search.png" alt="">
                    Search Course
                </button>
            </div>
        </div>
    </form>

</div>
<div class="container popular" >
<div class="row tutorials">
    <div class="col-lg-12 text-center">
        <div class="alert alert-warning" *ngIf="courses?.length<=0" style="    width: 50%;
        margin: 0 auto;
        margin-bottom: 13px;">No Institutes found</div>
    </div>

    <div class="col-md-4" *ngFor="let item of courses; let i=index" style="
    margin-bottom: 16px;">
        <div class="tutorial">
            <!-- <img src="assets/images/college1.png" class="tile-card-img" alt="Nspot college"> -->
            <div class="tutorial-details">
                <img src="https://img.icons8.com/color/48/000000/instagram-verification-badge.png" style="
                float: right;
                width: 26px; " />

                <h6>{{item.CourseName}}</h6>
                <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>Institute Details</span></p>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="abs">{{item.item.Institute.name}}</p>
                        <!-- <p>Address Details : {{item.item.Institute.addressLine1}},{{item.item.Institute.addressLine2}}</p> -->
                        <p><i class="zmdi zmdi-map" style="color: grey;"></i>{{item.item.District.district}}</p>
                   <p><i class="zmdi zmdi-money"></i>  {{item?.courseFee?.otherFee}}</p>
                    </div>
                    <div class="col-sm-6">
                        <!-- src="./assets/images/college1.png"  -->
                        <img src="{{item.item?.Institute?.profilePicFile?baseApiUrl+item.item?.Institute?.profilePicFile:'./assets/images/inst.png'}}" alt="" style="width: 70px;
                        float: right;">
                    </div>

                </div>
                
                <div class="row" style="display: flex;justify-content: space-around;">
                    <a routerLink="/student/institute-details/{{item.item.Institute.userId}}" class="greybutton">View More</a>
                    <a  style="background: #cfcfcf !important;" class="greybutton" (click)="addtocompare(item)">Add to compare</a>
                
                </div>


                
           
            </div>
        </div>
    </div>

    <!-- 
    <div class="col-md-4">
        <div class="tutorial">
            <img src="assets/images/college2.png" class="tile-card-img" alt="Nspot college">
            <div class="tutorial-details">
                <h6>Little Flower Girls High school</h6>
                <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 COURSES</span></p>
                <p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est.</p>
                <a routerLink="/student/institute-details/1" class="greybutton">DETAILS</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tutorial">
            <img src="assets/images/college1.png" class="tile-card-img" alt="Nspot college">
            <div class="tutorial-details">
                <h6>Little Flower Girls High school</h6>
                <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 COURSES</span></p>
                <p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est.</p>
                <a routerLink="/student/institute-details/1" class="greybutton">DETAILS</a>
            </div>
        </div>
    </div> -->





</div></div>