.tutorial ul li {
  list-style-type: circle;
}
.tutorial ul li i {
  margin-left: 10px;
  cursor: pointer;
}

.list-with-icon{
  padding: 20px 10px 20px 10px;
  border-bottom-left-radius: 0px;
}

.btn-success{
  /* margin-top: 17px; */
}
.btn-dark{
  display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
    margin-top: 19px;

}
.btn-dark:hover{
  color: white;
}
.btn-info{
  border-radius: 100px;
  color: black;
  margin-bottom: 5px;
  width: max-content;
  margin-left: 8px;
  background: transparent;
  border: none;
}
.phase-active{
  color: white;
  background-color: #f8ad25 !important;
}
@media only screen and (max-width: 992px) {
  .media {
    display: flex !important;
    flex-direction: column !important;
    width: max-content !important;
    margin: auto !important;
    padding: 7px !important;
    border-radius: 0px !important;
  }
}
.media{
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: auto;
  padding: 7px;
  border-radius: 101px;
}
p{
  color: #746c6c;
  line-height: 45px;
}
h6{
  margin-top: 17px;
  margin-bottom: 9px;
  text-align: center;
}
h5{
  margin-top: 17px;
  font-weight: bold;
}
.profilePicDiv img{
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* margin:20px 0 20px 55px; */
}
.profilePicBtn{
  position: absolute;
  bottom: 28%;
  left: 656px;
  background-color: #1A4D59;
  border-color: #1A4D59;
  color: #EFF5F9;
  padding:5px 10px 5px 10px;
  border-radius: 50px;
  border: 1px;
}


.profilePicBtn:hover i {
  display:none
}

.profilePicBtn:hover:before {
  content:"Change";
}

.profilePicBtn:hover {
  border-radius: 25px;
  width:100px;
  cursor: pointer;
  transition: 0.2s;
  padding:9px 10px 9px 25px;
}
