<main>
  <div class="container teacher-page mb-4">
    <div class="row">
      <div class="col-sm-3 text-center" *ngIf="certificates&&certificates.length>0">
        <img src="{{baseApiUrl}}{{certificates[0]?.passportSizePhotoFile}}" alt="Avatar" class="teacher-avatar">

      </div>
      <div class="col-sm-9">
        <h5>{{studentDetails?.firstName}} {{studentDetails?.middleName}} {{studentDetails?.lastName}} </h5>
        <p>TSID : {{username}} | Email : {{studentDetails?.email}}</p>
        <!-- <p>{{studentDetails.email}} | {{studentDetails.communicationMobile}}</p> -->
        <p class="class-details">
          <!-- <span class="lessons"><i class="zmdi zmdi-assignment"></i>{{educations.length}} EDUCATIONS</span>
          <span class="views"><i class="zmdi zmdi-eye"></i>{{certificates.length-2}} CERTIFICATES</span>
          <span class="rating"><i class="zmdi zmdi-star"></i>AVERAGE RATES : 4,8</span> -->
        </p>
        <p class="abs">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
          ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing
          elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At vero eos
          et accusam et justo duo dolores et ea rebum.
        </p>
        <p class="abs">
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam
          voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus
          est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>

  <div class="container mb-5">

    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb-3">Educations</h4>
        <div *ngFor="let item of educations; let i=index" class="col-xs-12 col-sm-6 list-with-icon">
          <div class="col-xs-3">
            <img src="../../../../assets/images/institute-icon.svg" class="icon-3" alt="">
          </div>
          <div class="col-xs-9">
            <h4>{{item.schoolName}} </h4>
            <p>{{item.specialization}} </p>
            <p><span>{{item.startDate | date}}</span> - <span>{{item.endDate|date}}</span></p>
          </div>
        </div>

        <div *ngIf="educations?.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p>No Entrance Exam Added</p>
        </div>
      </div>

      <div class="col-sm-12">
        <h4 class="uppercase mb-3">Entrance Exams</h4>
        <div *ngFor="let item of entranceExams; let i=index" class="col-xs-12 col-sm-6 list-with-icon">
          <div class="col-xs-3">
            <img src="../../../../assets/images/exam-icon.png" class="icon-3" alt="">
          </div>
          <div class="col-xs-9">
            <h4>{{item.qualifiedEntrance}} </h4>
            <p>{{item.yearOfQualification}} </p>
          </div>
        </div>
        <div *ngIf="entranceExams?.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p>No Entrance Exam Added</p>
        </div>
      </div>
      <!-- <pre>{{allApplications|json}}</pre> -->
      <div class="col-sm-12" >
        <h4 class="uppercase mb-3">Applied Courses</h4>
        <div *ngFor="let item of allApplications; let i=index" class="col-xs-12 col-sm-6 list-with-icon" style="margin-left: 0px; margin-right: 20px;">
          <div class="col-xs-3">
            <img src="../../../../assets/images/exam-icon.png" class="icon-3" alt="">
          </div>
          <div class="col-xs-9" >
            <h4>{{item.Institute_Course.AccademicLevel_Course.title}} </h4>
            <p> {{item.Institute_Course.CourseStream.title}} -
              {{item.Institute_Course.CourseStream_Specialization.title}} </p>
            <p>Status : {{getStatusText(item.applicationStatus)}}</p>
            <p *ngIf="item.remarks !=null">Remarks:{{item.remarks}}</p>
            <p *ngIf="item.dateOfInterview !=null">Date of Interview:{{item.dateOfInterview}}</p>
            <p *ngIf="item.dateOfReporting !=null">Date of Reporting:{{item.dateOfReporting}}</p>
            <p *ngIf="item.interviewLink !=null">Interview Link: <a href="{{item.interviewLink}}" target="_blank">{{item.interviewLink}}</a> </p>
            <button class="btn btn-success" *ngIf="getStatusText(item.applicationStatus) ==='Payment Awaiting'">Pay Fees</button>
          </div>
        </div>

        <div *ngIf="allApplications.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p> -- Empty -- </p>
        </div>
      </div>

      <div class="col-sm-12">
        <h4 class="uppercase mb-3">Approved Pre-applications</h4>
        <div *ngFor="let item of acceptedPreApplications; let i=index" class="col-xs-12 col-sm-6 list-with-icon">
          <div class="col-xs-3">
            <img src="../../../../assets/images/exam-icon.png" class="icon-3" alt="">
          </div>
          <div class="col-xs-9">
            <h4>{{item.Institute_Course.AccademicLevel_Course.title}} </h4>
            <!-- <p> {{item.Institute_Course.CourseStream.title}} -
              {{item.Institute_Course.CourseStream_Specialization.title}} </p> -->
            <p>Status : {{getStatusText(remarks.applicationStatus)}}</p>

            <p *ngIf="item.Institute_Course.remarks !=null">Remarks:{{item.Institute_Course.remarks}}</p>
            <p *ngIf="item.Institute_Course.dateOfInterview !=null">Date of Interview:{{item.Institute_Course.dateOfInterview}}</p>
            <p *ngIf="item.Institute_Course.dateOfReporting !=null">Date of Reporting:{{item.Institute_Course.dateOfReporting}}</p>
            <p *ngIf="item.Institute_Course.interviewLink !=null">Interview Link: <a href="{{item.Institute_Course.interviewLink}}" target="_blank">{{item.Institute_Course.interviewLink}}</a> </p>

          </div>
          <div class="col-lg-12">
            <a routerLink="/student/course/checkout/" +{{item.id}}>
              <button class="btn btn-success greybutton pull-right">Pay Now</button></a>
          </div>
        </div>
        <div *ngIf="acceptedPreApplications.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p> -- Empty -- </p>
        </div>
      </div>

      <div class="col-sm-12">
        <h4 class="uppercase mb-3">Accepted Applications</h4>
        <div *ngFor="let item of acceptedApplications; let i=index" class="col-xs-12 col-sm-6 list-with-icon">
          <div class="col-xs-3">
            <img src="../../../../assets/images/exam-icon.png" class="icon-3" alt="">
          </div>
          <div class="col-xs-9">
            <h4>{{item.Institute_Course.AccademicLevel_Course.title}} </h4>
            <p> {{item.Institute_Course.CourseStream.title}} -
              {{item.Institute_Course.CourseStream_Specialization.title}} </p>
            <p>Status : {{getStatusText(item.applicationStatus)}}</p>
          </div>

        </div>
        <div *ngIf="acceptedApplications.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p> -- Empty -- </p>
        </div>
      </div>

      <div class="col-sm-12">
        <h4 class="uppercase mb-3">Rejected Applications</h4>
        <div *ngFor="let item of rejectedApplications; let i=index" class="col-xs-12 col-sm-6 list-with-icon">
          <div class="col-xs-3">
            <img src="../../../../assets/images/exam-icon.png" class="icon-3" alt="">
          </div>
          <div class="col-xs-9">
            <h4>{{item.Institute_Course.AccademicLevel_Course.title}} </h4>
            <p> {{item.Institute_Course.CourseStream.title}} -
              {{item.Institute_Course.CourseStream_Specialization.title}} </p>
            <p>Status : {{getStatusText(item.applicationStatus)}}</p>
          </div>
        </div>
        <div *ngIf="rejectedApplications.length==0" class="col-xs-12 col-sm-6 list-with-icon text-center p-3">
          <p> -- Empty -- </p>
        </div>
      </div>
    </div>
  </div>
</main>