<main id="register">
  <div class="page-heading text-center">
    <div class="container">
      <h2>FAQ</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>1.How can i apply for a course in an institute?</h5>
        <p>Choose your desired course. Fill the admission application form carefully and complete it along with all the required details as per the eligibility criteria mentioned by the institute before you apply. </p>
    
        <h5>2.What are the steps involved in the admission process?</h5>
        <ol>
          <li>Start the registration by login into the NSpot Student Admission App.  </li>
          <li>Select the program/course to which you want to apply.</li>
          <li>Read the eligibility criteria, rules, policies of the institutes, fill the application and upload the required documents.</li>
          <li>Upon notification of pre-approval of your application,  pay the initial fee through the Nspot payment gateway within 24hrs.</li>
          <li>After completing the initial fee payment, you will receive the admission confirmation letter from the respective institute.</li>
          <li>Report to the institute with original certificates on the scheduled date as mentioned in the confirmation letter.</li>
        </ol>
        <h5>3.Why is it important to pay the initial fee through the Nspot app to an educational institute?</h5>
        <p> Initial Fee Payment should only be done, through the Nspot payment gateway, To track your admission application status/track fee payment/ institutes authenticity/admission officer-in-charge/avoiding fake agents intrusion and/intermediaries, etc.</p>
        
        <h5>4.What differs Nspot Admission App from others?</h5>
        <p>Nspot Admission App is the only app that brings the student and the institute directly in a single platform without any intermediaries. Nspot also provides an opportunity to browse unlimited courses and compare course fees in different institutions all over India.</p>
        

        <h5>5.Are there any restrictions in the course search?</h5>
        <p>There is no restriction, you can search for unlimited courses.</p>

        <h5>6.How long will it take to complete the admission process after the initial fee payment?</h5>
        <p>Usually, within 2-3 hours of payment, you will receive the admission confirmation letter, subject to realization and final settlement confirmation from your Banker.</p>
     
        <h5>7.What if a student fails to make the fee payment within 24 hr of the deadline?</h5>
        <p>Your application will be get rejected automatically.</p>

        <h5>8.Does Nspot guarantee my admission to the institute?</h5>
        <p>NSPOT does not provide any guarantee of admission for the particular course if you apply for the course from our Properties. The entire process of admissions based on merit or any other parameter shall be governed and controlled by the respective educational institute. Grant of admissions shall be at the sole discretion of the respective educational institutions. It is hereby expressly clarified that role of NSPOT is only to facilitate the admission process and not to grant admissions.</p>
     

        <h5>9.How can I find out about my admission application status? </h5>
        <p> You will get notified at each step of the admission process. We also recommend you regularly check your Nspot account for updates.</p>
        
        <h5>10.What if I applied or paid more than once by accident or my payment didn't go through?</h5>
        <p>If you believe this has happened to you, please email us at student.helpdesk@nspotadmissions.com Be prepared to provide us with details of the failed or duplicate charges. We will need to know your name and student ID (if known), when you applied, how you applied, and the details of why you believe you were charged more than once. Please contact your banking institution to verify that multiple charges have not already been voided before contacting the respective educational institution.</p>
        

        <h5>11.Can I get a refund if cancel my admission application?</h5>
        <p>Once the admission fee as prescribed by the institution for a course is paid, the amount will be refunded back to the applicant if and only if the institution rejects to issue/sanction the admission letter. Amount refunded will be after deduction of bank charges. Once the admission form is approved and the seat is confirmed by the institute, NSPOT shall in no way be liable to refund the amount paid under any circumstances.</p>
      
        
        <h5>12.None of these questions address my issue so what do I do now? </h5>
        <p>Please send an email to student.helpdesk@nspotadmissions.com, and we will get back to you soon. If it is an urgent matter indicate this in your email.</p>
      


 
      

      </div>
      <span style="margin-top: 100px;">NB: Any misinformation / incorrect information/violation of admission rule(s)/or If not fulfill any of the rules and regulations of the University /College/Educational Institution regarding admission to this course/program will lead to the cancellation of the application/admission.</span>

    </div>
  </div>
</main>